@charset "UTF-8";

body {
	width: 60%;
	min-width: 320px;
	margin-right: auto;
	margin-left : auto;
	-webkit-text-size-adjust: 100%;
	font-size: 14px;
}
h1 {
	font-size: 25px;
}
h2 {
	font-size: 20px;
}
.inputLine {
	width: 40%;
	height: 24px;
	box-sizing:border-box;
}
.phaseTable {
	margin-left: 20px;
	border-collapse: collapse;
	border-spacing: 0;
}
.tableText {
	font-weight: bold;
	padding:0;
	width: 90px;
}
.phaseText {
	font-weight: bold;
	padding:0;
	width: 80px;
	min-width: 80px;
}
.tableWidth {
	width: 80px;
	padding:0;
}
.inputWidth {
	width: 40px;
	height: 24px;
	box-sizing:border-box;
	margin:0; padding:0;
}
.alignCenter {
	height: 100%;
	box-sizing:border-box;
}
textarea {
	vertical-align:top;
	width: 80%;
}
.textWidth {
	 width: 80%;
}
.textRow {
  height: calc( 1.3em * 5 );
  line-height: 1.3;
}
td {
	padding: 0;
}

.buttonTable {
	text-align: center;
}
.editButton {
	display: list-item;
	background-color: #2983CC;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width: 80%;
	padding: 12px 12px;
	margin: 10px auto;
	border: 1px solid #000000;
	outline: none;
}

@media screen and (min-width: 640px) {
	body {
		font-size: 16px;
	}
	.editButton {
		display: inline-block;
		background-color: #2983CC;
		text-align: center;
		font-weight: bold;
		font-size: 100%;
		width: 20%;
		min-width: 30px;
		padding: 12px 0;
		margin: 0 6px;
		border: 1px solid #000000;
		outline: none;
	}
}