@charset "UTF-8";


body {
	width: 60%;
	min-width: 320px;
	margin-right: auto;
	margin-left : auto;
	outline: none;
}


.buttonTable {
text-align: center;
}

.skillButton {
	display: inline-block;
	background-color: #2983CC;
	text-align: center;
	font-weight: bold;
	width: 120px;
	padding: 12px 12px;
	margin: 0 10px;
	border: 1px solid #000000;
	outline: none;
}


.inputLine {
	width:150px;
	height: 24px;
	box-sizing:border-box;
}

th{
	text-align: right;
}


@media screen and (max-width:640px) {

	.skillButton {
	width: 100%;
	margin:6px;
	}


}

