@charset "UTF-8";

body {
	width: 60%;
	min-width: 320px;
	margin-right: auto;
	margin-left : auto;
	font-size: 14px;
}
h1 {
	font-size: 25px;
}
h2 {
	font-size: 20px;
}
.tableText {
	font-weight: bold;
	padding: 0;
	width: 90px;
}

.buttonTable {
	text-align: center;
}

.editCheckButton {
	display: list-item;
	background-color: #2983CC;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width: 80%;
	padding: 12px 12px;
	margin: 10px auto;
	border: 1px solid #000000;
	outline: none;
}
@media screen and (min-width: 640px) {
	body {
		font-size: 16px;
	}
	.editCheckButton {
		display: inline-block;
		background-color: #2983CC;
		text-align: center;
		font-weight: bold;
		font-size: 100%;
		width: 20%;
		min-width: 30px;
		padding: 12px 12px;
		margin: 0 6px;
		border: 1px solid #000000;
		outline: none;
	}
}