@charset "UTF-8";

body {
	width: 60%;
	margin-right: auto;
	margin-left : auto;
}
h1 {
	font-size: 25px;
}
h2 {
	font-size: 20px;
}
.tableText {
	font-weight: bold;
}

.buttonTable {
	text-align: center;
}
.editCheckButton {
	display: inline-block;
	background-color: #2983CC;
	text-align: center;
	font-weight: bold;
	width: 20%;
	padding: 12px 12px;
	margin: 0 10px;
	border: 1px solid #000000;
}