@charset "UTF-8";

body {
	width: 60%;
	min-width: 320px;
	margin-right: auto;
	margin-left : auto;
	font-size: 14px;
}
h1 {
	font-size: 25px;
}
h2 {
	font-size: 20px;
}
.phaseTable {
	margin-left: 20px;
}
.tableLayout {
	border-collapse: collapse;
	table-layout: fixed;
}
.tableText {
	font-weight: bold;
	padding: 0;
	width: 90px;
}
.textWidth {
	 width: 80%;
}
.buttonTable {
	text-align: center;
	box-sizing: content-box;
}
.skillButton {
	display: list-item;
	background-color: #2983CC;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width: 80%;
	max-width: 350px;
	padding: 12px 12px;
	margin: 10px auto;
	border: 1px solid #000000;
	outline: none;
}
@media screen and (min-width: 950px) {
	body {
		font-size: 16px;
	}
	.skillButton {
		display: inline-block;
		background-color: #2983CC;
		text-align: center;
		font-weight: bold;
		font-size: 1vw;
		width: 15%;
		min-width: 30px;
		padding: 12px 6px;
		margin: 0 6px;
		border: 1px solid #000000;
		outline: none;
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	text-align: center;
	padding: 30px;
	width: 300px;
	border: 5px double #333333;
	background-color: white;
	position: fixed;
	top: 200px; left : 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}